/* styles */
body { 
    bottom: 0; 
    position: sticky;
    width: 90%;
    left: 2%;
}

/* header styles */
header h1 {
    font-size: 5rem;
}
header aside img {
    padding-right: 3rem;
}
#selfie { 
    height: 20rem;
    float: left;
}
#graphic { height: 25rem; }

/* nav styles */
nav ul { list-style: none; }

/* main styles */

/* footer styles */
footer { 
    background-color: #5FA992; 
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}
#github { 
    height: 3rem;
}
#linkedin { 
    height: 3rem; 
} 
