/* styles */
body { top: 0; bottom: 0; }

/* header styles */
#selfie { height: 20rem; }
#graphic { height: 25rem; }

/* nav styles */
nav ul { list-style: none; }

/* main styles */

/* footer styles */
footer { background-color: #5FA992; }
#github { height: 4rem; }
#linkedin { height: 4rem; } 
